@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 stylish-title">JobAlly</h1>
    <hr class="my-4">
    <p class="lead stylish-lead">Це технологічно-передова програма для вашого бізнесу.</p>
    <p class="lead stylish-lead">Щоб розпочати користування - натисніть кнопку "Почати".</p>
    <a class="btn btn-primary btn-lg stylish-button" href="/subscribe" role="button">Почати</a>
</div>

<div class="info-section text-center">
    <p class="lead stylish-lead">Якшо у вас виникли запитання - натисність "Інформація"</p>
    <a class="btn btn-info btn-lg stylish-button" href="/info" role="button">Інформація</a>
</div>