@page
@model PrivacyModel
@{
    ViewData["Title"] = "Безпека";
}
<h1>@ViewData["Title"]</h1>

<p>В JobAlly ми використовуємо ряд передових технологій для забезпечення безпеки нашого веб-сайту. Однією з них є використання reverse proxy server. Це допомагає нам забезпечити додатковий рівень безпеки, зменшуючи вразливість нашого сервера до прямих атак. Reverse proxy також допомагає нам управляти навантаженням на сервер, розподіляючи трафік ефективно.</p>

<p>Ми також використовуємо хешування паролів для забезпечення безпеки облікових записів наших користувачів. Це означає, що навіть якщо база даних була скомпрометована, реальні паролі користувачів не можуть бути викрадені.</p>

<p>Крім того, ми використовуємо cookies для зберігання інформації про сесію користувача. Це допомагає нам забезпечити безперервний досвід користувача, але ми також вживаємо всіх необхідних заходів, щоб забезпечити, що ці cookies не можуть бути використані для отримання доступу до конфіденційної інформації.</p>