@page
@model JobAllyWebApp.Pages.SubscribeModel
@{
    ViewData["Title"] = "Підписки:";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Базова щомісячна підписка</h5>
                <p class="card-text">1500 грн/місяць.</p>
                <p class="card-text">Економія 0 грн/рік</p>
                <a href="/subscribe/basic" class="btn btn-primary">Підписатись</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ультра підписка</h5>
                <p class="card-text">1350 грн/місяць.</p>
                <p class="card-text">Економія 1800 грн/рік</p>
                <a href="/subscribe/premium" class="btn btn-primary">Підписатись</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Преміум підписка</h5>
                <p class="card-text">1200 грн/місяць.</p>
                <p class="card-text">Економія 3600 грн/рік</p>
                <a href="/subscribe/ultimate" class="btn btn-primary">Підписатись</a>
            </div>
        </div>
    </div>
</div>